<!DOCTYPE html>
<html>
    <head>
        <title>TouchSit Administrator</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/font-awesome.min.css">
    </head>
    <body>
        <div class="sig_main_page">
            <div class="half_page_one">
                <form action="" method="post">
                    <div class="logincontent" >
                        <div class="loginform">
                            <p class="logintitle">Մուտք</p>
                            <% if (failedLogin) { %>
                            <p class="err_login_fail">Սխալ մուտքանուն կամ գաղտնապառ</p>
                            <% } %>
                            <div class="loginputcol" >
                                <input type="text" placeholder="Մուտքանուն" class="loginput" required name="login"/>
                            </div>
                            <div class="loginputcol">
                                <input type="password" placeholder="Գաղտնապառ" class="loginput"  required minlength="5" name="password"/>
                            </div>
                            <div class={`loginputcol`}>
                                <button class="loginbut">Մուտք</button>
                            </div>
                            <div class="loginputcol re_f_col">
                                <div class="forgot_pass"><a href="/forgot-password" class="l_f_pass">Մոռացել եք գաղտնաբառը?</a></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="half_page_two">
                asd
            </div>
        </div>
    </body>
</html>