<!doctype html>
<html>
<head>
    <title>Prizchall - Administration</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/javascript/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet">
    <link href="/javascript/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="/javascript/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/style.css" />
    <script src = "/javascript/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/javascript/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/konva@4.0.18/konva.min.js"></script>
    <script src = "/javascript/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/478cd23ac1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main_header_colum">
        <div class="head_big">
            <div class="head_left">
                <span class="head_title_span">Dashboard <%=userInfo.name%></span>
            </div>
            <div class="head_right">
                <div class="head_user">
                    <div class="h_username">Profile <i class="fas fa-chevron-down"></i></div>
                </div>
                <div class="head_user">
                    <a href="/profile/transactions"  class="h_money"><%=siteData.ourMoney%></a>
                    <div class="h_userlist ">
                        <ul>
                            <li>
                                <a href="/profile/settings">
                                    <span>Messages</span>
                                    <span><i class="far fa-envelope"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile/settings">
                                    <span>Profile</span>
                                    <span><i class="far fa-user"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile/settings">
                                    <span>Settings  </span>
                                    <span><i class="fas fa-cogs"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="/login/logout">
                                    <span>Log Out</span>
                                    <span><i class="fas fa-sign-out-alt"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
<!--                <div class="head_user">-->
<!--                    <div class="h_username"><span>6</span><i class="bell_g far fa-bell"></i></div>-->
<!--                    <div class="h_userlist h_notlist">-->
<!--                        <div class="not_title">Notifications</div>-->
<!--                        <div class="not_row">-->
<!--                            <div class="not_name_arr">-->
<!--                                <div class="not_arr"><img src="/images/icons/success-icon.png" alt="success" /></div>-->
<!--                                <div class="not_name">Դուք ունեք նոր պատվեր</div>-->
<!--                            </div>-->
<!--                            <div class="not_time">1 ժամ 22 րոպե առաջ</div>-->
<!--                        </div>-->
<!--                        <div class="not_row">-->
<!--                            <div class="not_name_arr">-->
<!--                                <div class="not_arr"><img src="/images/icons/blue-plus-icon.png" alt="success" /></div>-->
<!--                                <div class="not_name">Դուք ունեք նոր պատվեր</div>-->
<!--                            </div>-->
<!--                            <div class="not_time">1 ժամ 22 րոպե առաջ</div>-->
<!--                        </div>-->
<!--                        <div class="not_row">-->
<!--                            <div class="not_name_arr">-->
<!--                                <div class="not_arr"><img src="/images/icons/error-icon.png" alt="success" /></div>-->
<!--                                <div class="not_name">Դուք ունեք նոր պատվեր</div>-->
<!--                            </div>-->
<!--                            <div class="not_time">1 ժամ 22 րոպե առաջ</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
