<div class="content_m_col">
    <% var numbered = 0;
        language.forEach(function(lang){ %>
        <div class="lang_cols">
            <label  class="lang_colums  <%= numbered === 0 ? 'active' : '' %>" data-name="<%=lang['lang_code']%>"><%=lang['lang_name']%></label>
        </div>
    <% numbered++; }) %>
</div>

<style>

</style>
