<div id="menu_m_col">
    <div class="main_menu_top">
        <div>
            <a href="/">Proschall</a>
        </div>
    </div>
    <div class="menu_block">
        <div class="menu_b_row">
            <div class="menu_b_row_content_title"><span class="">Site Content</span></div>
            <a href="/games" class="menu_b_row_content <%if(pathName == 'games'){%><%='active_menu_b_row_content'%><%}%> ">
                <div class="menu_r_icon">
                    <img src="/images/icons/list-ul-solid.svg">
                </div>
                <div class="menu_r_name">Games </div>
            </a>
            <a href="/games/mode" class="menu_b_row_content <%if(pathName == 'games'){%><%='active_menu_b_row_content'%><%}%> ">
                <div class="menu_r_icon">
                    <img src="/images/icons/list-ul-solid.svg">
                </div>
                <div class="menu_r_name">Game Modes </div>
            </a>
<!--            <a href="/games/server" class="menu_b_row_content <%if(pathName == 'games'){%><%='active_menu_b_row_content'%><%}%> ">-->
<!--                <div class="menu_r_icon">-->
<!--                    <img src="/images/icons/list-ul-solid.svg">-->
<!--                </div>-->
<!--                <div class="menu_r_name">Game Servers </div>-->
<!--            </a>-->
            <div class="menu_b_row_content_title"><span class="">Data Information</span></div>
            <a href="/users" class="menu_b_row_content <%if(pathName == 'users'){%><%='active_menu_b_row_content'%><%}%> ">
                <div class="menu_r_icon">
                    <img src="/images/icons/user-friends-solid.svg">
                </div>
                <div class="menu_r_name">Users </div>
            </a>
            <div class="menu_b_row_content_title"><span class="">Deposit</span></div>
            <a href="/deposit/1" class="menu_b_row_content <%if(pathName == 'deposit'){%><%='active_menu_b_row_content'%><%}%> ">
                <div class="menu_r_icon">
                    <img src="/images/icons/user-friends-solid.svg">
                </div>
                <div class="menu_r_name">Card 2 Card<span class="new_counts"> <%=siteData.newCounts.c2c%> </span></div>
            </a>
            <a href="/deposit/2" class="menu_b_row_content <%if(pathName == 'deposit'){%><%='active_menu_b_row_content'%><%}%> ">
                <div class="menu_r_icon">
                    <img src="/images/icons/user-friends-solid.svg">
                </div>
                <div class="menu_r_name">Bitcoin <span class="new_counts"><%=siteData.newCounts.bitcoin%></span></div>
            </a>
            <a href="/deposit/3" class="menu_b_row_content <%if(pathName == 'deposit'){%><%='active_menu_b_row_content'%><%}%> ">
                <div class="menu_r_icon">
                    <img src="/images/icons/user-friends-solid.svg">
                </div>
                <div class="menu_r_name">Perfect Money  <span class="new_counts"> <%=siteData.newCounts.pm%></span></div>
            </a>
            <div class="menu_b_row_content_title"><span class="">Withdraw</span></div>
            <a href="/withdraw" class="menu_b_row_content <%if(pathName == 'withdraw'){%><%='active_menu_b_row_content'%><%}%> ">
                <div class="menu_r_icon">
                    <img src="/images/icons/user-friends-solid.svg">
                </div>
                <div class="menu_r_name">Bank card</div>
            </a>
            <div class="menu_b_row_content_title"><span class="">Dispute's</span></div>
            <a href="/dispute" class="menu_b_row_content <%if(pathName == 'dispute'){%><%='active_menu_b_row_content'%><%}%> ">
                <div class="menu_r_icon">
                    <img src="/images/icons/user-friends-solid.svg">
                </div>
                <div class="menu_r_name">Dispute</div>
            </a>
            <div class="menu_b_row_content_title"><span class="">FAQ</span></div>
            <a href="/faq" class="menu_b_row_content <%if(pathName == 'faq'){%><%='active_menu_b_row_content'%><%}%> ">
                <div class="menu_r_icon">
                    <img src="/images/icons/user-friends-solid.svg">
                </div>
                <div class="menu_r_name">Faq</div>
            </a>
        </div>
        <div>
            <div class="menu_b_row_content_title"><span class="">Tournaments</span></div>
            <a href="/tournament" class="menu_b_row_content <%if(pathName == 'tournament'){%><%='active_menu_b_row_content'%><%}%> ">
                <div class="menu_r_icon">
                    <img src="/images/icons/user-friends-solid.svg">
                </div>
                <div class="menu_r_name">Tournaments</div>
            </a>
        </div>
<!--        <div class="menu_bottom_main">-->
<!--            <a href="/contact-us">Հարցերի և առաջարկությունների համար կապվեք մեզ հետ</a>-->
<!--        </div>-->
    </div>
</div>
<script>

</script>




