<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="header_m_col">
                <%- include ../default/header.ejs %>
            </div>
            <div class="header_m_col">
                <%- include ../default/lang.ejs %>
            </div>
            <form id="main_form" action="" method="post">
                <div class="content_m_col">
                    <div id="box_main">
                        <div class="box_head">
                            <h2>Կարգավորումներ</h2>
                        </div>
                        <div class="box_body">
                            <div class="body_section">
                                <div class="box_section_name ">Անձնական տվյալների կառավառում</div>
                                <%  language.forEach(function(langs){ %>
                                    <%  for(var i = 0; i < data.length; i++){ %>
                                        <%if (langs['id'] == data[i]['lang_id']) { %>
                                            <div class="section_editable_box for<%=langs['lang_code']%> ">
                                                <div class="s_e_b_name">Անուն</div>
                                                <div class="s_e_b_input">
                                                    <input
                                                            class="__name_<%=langs['id']%>"
                                                            data-id="<%=data[i]['places_lang_id']%>"
                                                            type="text"
                                                            placeholder="Անուն"
                                                            value="<%=data[i]['name']%> "
                                                    />
                                                </div>
                                            </div>
                                            <div class="section_editable_box for<%=langs['lang_code']%> ">
                                                <div class="s_e_b_name">Հասցե</div>
                                                <div class="s_e_b_input">
                                                    <input
                                                            class="__address_<%=langs['id']%> "
                                                            data-id="<%=data[i]['places_lang_id']%>"
                                                            type="text"
                                                            placeholder="Հասցե"
                                                            value="<%=data[i]['address']%>" />
                                                </div>
                                            </div>
                                        <%}%>
                                    <% } %>
                                <% }) %>
                                <div class="section_editable_box">
                                    <div class="s_e_b_name">Հեռախոս</div>
                                    <div class="s_e_b_input">
                                        <input type="text" placeholder="Հեռախոս" name="phone" value="<%=data[0]['phone']%>" />
                                    </div>
                                </div>
                                <div class="section_editable_box">
                                    <div class="s_e_b_name">Էլ․ հասցե</div>
                                    <div class="s_e_b_input">
                                        <input type="text" placeholder="Էլ․ հասցե" name="email" value="<%=data[0]['email']%>" />
                                    </div>
                                </div>
                                <input type="hidden" name="place_id" value="<%=data[0]['place_id']%>" />
                                <input type="hidden" name="data" id="__res_data" />

                                <div class="section_save">
                                    <span class="__section_submit">Պահպանել</span>
                                </div>
                                <!--<div class="change_pass_qu"><span class="__change_pass" onclick="openPassModal()">Ցանկանում եք փոփոխել գաղտնաբառը?</span></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<div class="modal_change_pass" id="modal_c_password">-->
    <!--<div class="modal_change_main">-->
        <!--<div class="modal_change_row">-->
            <!--<div>Հին գաղտնաբառ</div>-->
            <!--<input type="password" placeholder="Հին գաղտնաբառ" class="old_pass">-->
        <!--</div>-->
        <!--<div class="modal_change_row">-->
            <!--<div>Նոր գաղտնաբառը</div>-->
            <!--<input type="password" placeholder="Նոր գաղտնաբառ" class="new_pass">-->
        <!--</div>-->
        <!--<div class="modal_change_row">-->
            <!--<div>Կրկնեք նոր գաղտնաբառը</div>-->
            <!--<input type="password" placeholder="Կրկնեք նոր գաղտնաբառը" class="new_repass">-->
        <!--</div>-->
        <!--<div class="modal_change_save"><span class="__modal_changes">Պահպանել</span></div>-->
        <!--<div class="change_pass_info">Գաղտնաբառը պետք է լինի 6 նիշ և ավելի</div>-->
    <!--</div>-->
<!--</div>-->


<script>

$(document).ready(function () {
    $('.__section_submit').click(function () {
        var resBody = [];
        var languages = JSON.parse('<%-JSON.stringify(language)%>')

        for(let i = 0; i < languages.length; i++){
            var name = $('.__name_'+languages[i].id).val();
            var address = $('.__address_'+languages[i].id).val();
            var place_lang_id = $('.__name_'+languages[i].id).attr('data-id');
            var obj = {
                lang_id : languages[i].id,
                name : name,
                address : address,
                place_lang_id : place_lang_id
            }
            resBody.push(obj)
        }
        $('#__res_data').val(JSON.stringify(resBody));
        $('#main_form').submit()
    })


    // $('.__modal_changes').click(function () {
    //     var oldPass = $('.old_pass').val();
    //     checkPasswords(function (result) {
    //         if(!result.error){
    //             var url = '/profile/settings/update-password';
    //             var body = 'oldPass='+oldPass+'&newPass='+result.data.newPass+'&newRePass='+result.data.newRePass;
    //             requestPost(url,body,function () {
    //                 if(this.readyState == 4){
    //                     var result = JSON.parse(this.responseText);
    //                     if(!result.error){
    //                         document.location.href = '/logout'
    //                     }
    //                 }
    //             })
    //         }
    //     })
    // })

    // $('.new_pass').change(function () {
    //     checkPasswords(function () {});
    // })
    // $('.new_repass').change(function () {
    //     checkPasswords(function () {});
    // })
    //
    // function checkPasswords(cb) {
    //     var newPass = $('.new_pass').val();
    //     var newRePass = $('.new_repass').val();
    //     if(newPass.length >= 6 && newRePass.length >= 6){
    //         if(newPass === newRePass){
    //             $('.new_pass').css({'border':'1px solid #cfcfcf'})
    //             $('.new_repass').css({'border':'1px solid #cfcfcf'})
    //             cb({error:false,data:{newPass:newPass,newRePass:newRePass}})
    //         }else{
    //             $('.new_pass').css({'border':'1px solid red'})
    //             $('.new_repass').css({'border':'1px solid red'})
    //             cb({error:true})
    //         }
    //     }else{
    //         if(newPass.length < 6)
    //             $('.new_pass').css({'border':'1px solid red'})
    //         if(newRePass.length < 6)
    //             $('.new_repass').css({'border':'1px solid red'})
    //         cb({error:true})
    //     }
    // }
})
</script>


<%- include ../default/footer.ejs %>

