<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="content_m_col">
                <div id="box_main">
                    <div class="box_head">
                        <div class="box_head_title">
                            <h2>Transactions</h2>
                        </div>
                    </div>
                    <div class="box_body">
                        <div class="body_section">
                            <table>
                                <thead>
                                <tr>
                                    <th class='table_num'>#</th>
                                    <th class='w_10'>Money</th>
                                    <th class='w_10'>Date</th>
                                    <th class='w_10 last_field'>Action</th>
                                </tr>
                                </thead>
                                <tbody id="main_tbody" data-table=''>
                                <!--<?php-->
                                <!--$numbered = 0;-->

                                <!--if (isset($params['result'])) {-->

                                <!--foreach ($params['result'] as $val) {-->
                                <!--$numbered++-->
                                <!--?>-->
                                <% if(typeof data !== "undefined"){ var num = 1; data.forEach(function(transaction){ %>
                                <tr id='m_<%=transaction['id']%>'>
                                    <td>
                                        <span><%=num%></span>
                                    </td>
                                    <td>
                                        <span><%=transaction.money%></span>
                                    </td>
                                    <td>
                                        <%=transaction.transaction_date.getDate()%>/<% var month = parseInt(transaction.transaction_date.getMonth())+1%>/<%=month%>/<%=transaction.transaction_date.getFullYear()%>
                                        (<%=transaction.transaction_date.getHours()%>:<%=transaction.transaction_date.getMinutes()%>)
                                    </td>
                                    <td class="last_field">
                                        <span class="row_edit">
                                             <a href='/profile/transaction/detail/<%=transaction['id']%>'>
                                                 <img src="/images/icons/pencil-alt-solid.svg" alt="edit" />
                                             </a>
                                        </span>
                                    </td>
                                </tr>
                                <% num++; }) }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ../default/footer.ejs %>

