<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <form id="main_form"  method="post" action="/games/server/add" >
                <div class="content_m_col">
                    <div id="box_main">
                        <div class="box_head">
                            <h2>Dispute request #<%=data.id%></h2>
                        </div>
                        <div class="box_body">
<!--                            <div class="body_section">-->
<!--                                <div class="box_section_name "><u>User Information</u></div>-->
<!--                               -->
<!--                            </div>-->

                            <div class="body_section">
                                <div class="box_section_name "><u>Dispute Information</u></div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">First Name : <%=data.firstName%> </div>
                                    <div class="s_e_b_name">Last Name : <%=data.lastName%> </div>
                                    <div class="s_e_b_name">Username : <%=data.username%> </div>
                                    <div class="s_e_b_name">E-Mail : <%=data.email%> (
                                        <%if(data.e_verify == '0'){%>Not Verifyed<%}else{%>Verifyed<%}%>
                                        ) </div>
                                    <hr/>
                                    <div class="s_e_b_name">Message : <%=data.message%> </div>
                                    <div class="s_e_b_name">Description : <%=data.description%> </div>
                                    <div class="s_e_b_name">File :
                                        <% var fileType = data.filename.split('.');
                                            if(fileType[1] == 'mp4'){ %>
                                            <video width="320" height="240" controls>
                                                <source src="<%=data.file%>" type="video/mp4">
                                            </video>
                                        <%}else{ %>
                                            <img src="<%=data.file%>" />
                                        <% } %>
                                    </div>
                                    <div class="s_e_b_name">Dispute Date :
                                        <%=data.data.getDate()%>-<% var month = parseInt(data.data.getMonth())+1%><%=month%>-<%=data.data.getFullYear()%>
                                        (<%=data.data.getHours()%>:<%=data.data.getMinutes()%>)
                                    </div>
<!--                                    <div class="section_editable_box ">-->


<!--                                    </div>-->
                                </div>
                            </div>


                            <div class="body_section">
                                <div class="box_section_name "><u>Match Information</u></div>
                                <div class="section_editable_box_row ">
                                    <div class="section_editable_box">
                                        <div class="s_e_b_name"><u>Creator Information</u></div>
                                        <div class="s_e_b_name">First Name : <%=users.creatorInfo.firstName%> </div>
                                        <div class="s_e_b_name">Last Name : <%=users.creatorInfo.lastName%> </div>
                                        <div class="s_e_b_name">Username : <%=users.creatorInfo.username%> </div>
                                        <div class="s_e_b_name">E-Mail : <%=users.creatorInfo.email%> (
                                            <%if(users.creatorInfo.e_verify == '0'){%>Not Verifyed<%}else{%>Verifyed<%}%>
                                            ) </div>
                                    </div>
                                    <div class="section_editable_box">
                                        <div class="s_e_b_name"><u>Joiner Information</u></div>
                                        <div class="s_e_b_name">First Name : <%=users.joinerInfo.firstName%> </div>
                                        <div class="s_e_b_name">Last Name : <%=users.joinerInfo.lastName%> </div>
                                        <div class="s_e_b_name">Username : <%=users.joinerInfo.username%> </div>
                                        <div class="s_e_b_name">E-Mail : <%=users.joinerInfo.email%> (
                                            <%if(users.joinerInfo.e_verify == '0'){%>Not Verifyed<%}else{%>Verifyed<%}%>
                                            ) </div>
                                    </div>
                                </div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Prize : <%=data.prize%> </div>
                                    <div class="s_e_b_name">Game : <%=data.game_name%> </div>
                                    <div class="s_e_b_name">Game Mode : <%=data.game_mode_name%> </div>
                                </div>
                                <div class="section_editable_box">
                                    <label>
                                        1X <input type="radio" name="checkWinner" value="1"/>
                                    </label>
                                    <label>
                                        0<input type="radio"  name="checkWinner" value="0"/>
                                    </label>
                                    <label>
                                        2X <input type="radio" name="checkWinner" value="2"/>
                                    </label>
                                </div>
                                <div class="section_save">
                                    <span class="__section_submit">SAVE</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    // $(document).ready(function () {
    //     $('.success-button').click(function () {
    //         if(!confirm("Do you really want to accept?")){return false;}
    //         let withdraw_id = $(this).attr('data-withdraw-id');
    //         sendReq(withdraw_id,'2', function (error) {
    //             window.location.href = '/withdraw';
    //         })
    //     });
    //     $('.decline-button').click(function () {
    //         if(!confirm("Do you really want to decline?")){return false;}
    //         let withdraw_id = $(this).attr('data-withdraw-id');
    //         sendReq(withdraw_id,'1', function (error) {
    //             window.location.href = '/withdraw';
    //         })
    //     })
    //
    //     function sendReq(withdraw_id,accept,cb) {
    //         requestPost('/withdraw/update','withdraw_id='+withdraw_id+'&accept='+accept, function () {
    //             if(this.readyState == 4){
    //                 var result = JSON.parse(this.responseText);
    //                 if(!result.error){
    //                     cb(false)
    //                 }else{
    //                     cb(true)
    //                 }
    //             }
    //         })
    //     }
    // });
</script>

<%- include ../default/footer.ejs %>

