<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="content_m_col">
                <div id="box_main">
                    <div class="box_head">
                        <div class="box_head_title">
                            <h2>All Dispute Requests</h2>
                        </div>
                    </div>
                    <div class="box_body">
                        <div class="body_section">
                            <table>
                                <thead>
                                <tr>
                                    <th class='table_num'>#</th>
                                    <th class='w_10'>Name</th>
                                    <th class='w_10'>Date</th>
                                    <th class='w_10 last_field'>Action</th>
                                </tr>
                                </thead>
                                <tbody id="main_tbody" data-table=''>
                                <!--<?php-->
                                <!--$numbered = 0;-->

                                <!--if (isset($params['result'])) {-->

                                <!--foreach ($params['result'] as $val) {-->
                                <!--$numbered++-->
                                <!--?>-->
                                <% if(typeof data !== "undefined"){ var num = 1; data.forEach(function(dispute){ %>
                                <tr id='m_<%=dispute['id']%>'>
                                    <td>
                                        <span><%=num%></span>
                                    </td>
                                    <td>%>
                                        <span class="table_row_text">
                                            <%=dispute.firstName%> <%=dispute.lastName%>
                                        </span>
                                    </td>
                                    <td>
                                        <%=dispute.data.getDate()%>
                                        -
                                        <% var month = parseInt(dispute.data.getMonth())+1%>
                                        <%=month%>
                                        -
                                        <%=dispute.data.getFullYear()%>
                                        (<%=dispute.data.getHours()%>:<%=dispute.data.getMinutes()%>)
                                    </td>
                                    <td class="last_field">
                                        <span class="row_edit">
                                             <a href='/dispute/details/<%=dispute['id']%>'>
                                                 <img src="/images/icons/pencil-alt-solid.svg" alt="edit" />
                                             </a>
                                        </span>
                                    </td>
                                </tr>
                                <% num++; }) }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ../default/footer.ejs %>

