<div class="big_main_page">
    <%- include default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="header_m_col">
                <%- include default/header.ejs %>
            </div>

            <div class="content_m_col">
                <div id="box_main">
                    <div class="box_head">
                        <h2>Կապ մեզ հետ</h2>
                    </div>
                    <div class="box_body">
                        <div class="body_section">
                            <div class="cont_box_section_name"><span class="addr_names">Մեր հասցեն</span></div>
                            <div class="section_editable_box">
                                <div class="cont_s_e_b_name">
                                     ք. Երեւան Պռոշյան փ. 2/1 շ.  Լոգիկոն բիզնես կենտրոն
                                </div>
                            </div>
                        </div>
                        <div class="body_section">
                            <div class="cont_box_section_name"><span class="addr_names">Մեր հեռախոսահամարներն են</span></div>
                            <div class="section_editable_box">
                                <div class="cont_s_e_b_name">
                                    <p>+37494426794</p>
                                    <p>+37494337837</p>
                                    <p>+37494245010</p>
                                </div>
                            </div>
                        </div>
                        <div class="cont_or">ԿԱՄ</div>
                        <div class="body_section">
                            <div class="box_section_name"><span class="addr_names">Գրեք մեզ և մենք շուտով կկապնվենք ձեզ հետ</span></div>
                            <form method="post" action="" id="main_form">
                                <div class="section_editable_box">
                                    <div class="s_e_b_name">Հեռախոս <span>*</span></div>
                                    <div class="s_e_b_input">
                                        <input type="text" placeholder="Հեռախոս" name="phone"  value="<%=userInfo['phone']%>" required />
                                    </div>
                                </div>
                                <div class="section_editable_box">
                                    <div class="s_e_b_name">Էլ․ հասցե</div>
                                    <div class="s_e_b_input">
                                        <input type="text" placeholder="Էլ․ հասցե" name="email" value="<%=userInfo['email']%>" />
                                    </div>
                                </div>
                                <div class="section_editable_box">
                                    <div class="s_e_b_name">Տեքստ<span>*</span></div>
                                    <div class="s_e_b_input">
                                        <textarea  placeholder="Տեքստ" name="text" required></textarea>
                                    </div>
                                </div>
                                <div class="section_save">
                                    <button for="main_form">ՈՒՂՂԱՐԿԵԼ</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% if (checkSuccessMsg == '1') { %>
    <div class="modal_success_msg">
        <div class="modal_success_msg_main">
            <img src="/images/icons/error-icon.png" alt="error"/>
            <p>Փորձեք մի փոքր ուշ կամ զանգահարեք մեզ</p>
        </div>
    </div>
<% } %>
<% if (checkSuccessMsg == '2') { %>
    <div class="modal_success_msg">
        <div class="modal_success_msg_main">
            <img src="/images/icons/success-icon.png" alt="success"/>
            <p>Շնորհակալություն<br/> հնարավորինս արագ մենք կկապնվենք ձեզ հետ</p>
        </div>
    </div>
<% } %>

<%- include default/footer.ejs %>

