<%- include default/header.ejs %>
<div class="big_main_page">
    <%- include default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="content_m_col">
                <div id="box_main">
                    <div class="box_body">
                        <div class="body_section">
                            asd
                        </div>
                        <!--<div class="body_section">-->
                            <!--asd-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include default/footer.ejs %>

