<html>
    <head>
        <title>TouchSit - Administration</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/style.css" />
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/not-found.css" />
        <script src = "/javascript/jquery.js"></script>
        <script src = "/javascript/jquery-ui.min.js"></script>
        <script src = "/javascript/main.js"></script>
        <script src="https://kit.fontawesome.com/478cd23ac1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="nf_header">
            TouchSit
        </div>
        <div class="nf_section">
            <img src="images/icons/frown.svg" alt="frown" />
            <p class="nf_t1">404</p>
            <p class="nf_t2">Oops! Page not found</p>
            <p class="nf_t3">
                Sorry, but the page you are looking for is not found.
                Please, make sure you have typed the current URL
            </p>
        </div>
        <div class="nf_footer">

        </div>
    </body>
</html>