<div class="big_main_page">
    <%- include default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="header_m_col">
                <%- include default/header.ejs %>
            </div>
            <div class="content_m_col">
                <div id="box_main">
                    <p class="perm_denied">Գործողությունների սահմանափակում</p>
                </div>
            </div>
        </div>
    </div>
</div>



