.nf_header{
    background-color: #2c343f;
    display: flex;
    flex: 1;
    align-items: center;
    height: 80px;
    color: #ffffff;
    font-size: 25px;
    justify-content: space-around;
    user-select: none;
}
.nf_section{
    width: 800px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nf_t1{
    font-size: 72px;
    color: #EB5C00;
    font-weight: 800;
}
.nf_t2{
    font-size: 20px;
    color: #161616;
    margin: 15px 0px;
}
.nf_t3{
    font-size: 16px;
    color: #161616;
}
.nf_section > img{
    width: 150px;
}