@font-face {
  font-family: 'Openregular';
  src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenLight';
  src: url('fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'OpenBold';
  src: url('fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'OpenSemiBold';
  src: url('fonts/OpenSans-Semibold.ttf');
}
.bor{
  border: 1px solid red;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  background-color: whitesmoke;
}
a{
    text-decoration: none;
    color: inherit;
}
.clear:after{
  content: "";
  display: table;
  clear: both;
}
.content{
  width:1260px;
  margin: 0px auto;
}
.appended_images{
  display: flex;
}
*::-webkit-scrollbar {
  width: .5em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(48, 55, 47, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #585873;
  outline: 1px solid slategrey;
}
.appended_images > img{
  width: 20%;
  vertical-align: middle;
  margin-top: 15px;
  margin-left: 1%;
  border: 3px solid #c4d7e6;
}
.appended_images_items{
  position: relative;
  display: flex;
  width: 20%;
  margin-top: 15px;
  margin-left: 1%;
  border: 1px solid #d4d4d4;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  overflow: hidden;
}
.appended_images_items > img{
  width: 100%;
}
.del_pic_gal{
  display: block;
  position: absolute;
  z-index: 50;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 35px;
  text-align: center;
  width: 30px !important;
}

.s_e_b_input > select{
  width: 300px;
  padding: 0px 10px;
  outline: none;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  height: 30px;
}
label.lang_colums {
  height: 35px;
  text-align: center;
  padding: 8px 10px;
  box-sizing: border-box;
  margin: 0px;
  float: left;
  background-color: #F0F1F5;
  color: #747A91;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  cursor: pointer;
}
.lang_cols {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  margin-right: 10px;
}
label.lang_colums.active {
  background-color: #42C9F5;
  color: #fff;
}

._change_lang{
  display: none;
}
[csslang|="en"]{
  display: block;
}

.no_ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.imgspinercol {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}
.imgspinercol .imgspiner {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.ripple{
  position:absolute;
  background:#fff;
  border-radius:50%;
  width:5px;
  height:5px;
  animation:rippleEffect .88s 1;
  opacity:0;
  cursor: pointer;
  z-index: 120;
}
.active_menu_b_r{
  background: #3f5778;
  color: rgba(255,255,225,1) !important;
}
@keyframes rippleEffect {
  0% {transform:scale(1); opacity:0.4;}
  100% {transform:scale(100); opacity:0;}
}
.for_mobail{
  display: none;
}
.main_loading{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.m_load_img{
  width: 150px;
}
/***************** main arch ********************/
.big_main_page{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#open_button{
  display: none;
}
#big_main_content_page {
  display: flex;
  flex: 1;
  margin-left: 300px;
  /*transition: 0.2s;*/
}
#menu_m_col {
  width: 300px;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99;
  background-color: #2c343f;
  color: #ffffff;
  overflow: hidden;
}
.content_header_m_col{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chose_file {
  /*width: 150px;*/
  padding: 10px 9px;
  height: 40px;
  background: #F0F1F5;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 16px;
  color: #747A91;
  font-weight: bold;
  float: left;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.foto_block {
  width: 140px;
  height: 80px;
  border: 1px solid;
  background: #eee;
  /*cursor:pointer;*/
  position:relative;
  float: left;
  margin-left: 30px;
}
.foto_block img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.content_m_col {
  margin-top: 20px;
  margin-left: 20px;
  width: calc(100% - 45px);
  /*background: red;*/
}
.info_lenta_m_col {
  width: 300px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0px;
  padding-top: 90px;
  background: #FFFFFF;
  z-index: -1;
}
.main_menu_colum{
  background-color: #2c343f;
  color: #ffffff;
  height: 100%;

}
.head_big{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  font-size: 25px;
  color: #161616;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0px 20px;
}
.head_title_span{
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.head_left{
  display: flex;
}
.head_right{
  display: flex;
  font-size: 14px;
}
.head_user{
  position: relative;
  margin: 0px 5px;
}
.h_username{
  cursor: pointer;
  background: whitesmoke;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 3px;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 17px;
}
.h_money{
  cursor: pointer;
  background: whitesmoke;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 3px;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 17px;
}
.h_username:hover{
  background: #dcdcdc;
}
.h_username > span{
  background: #0d3fb0;
  border-radius: 17px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 12px;
}
.bell_g{
  font-size: 18px;
}
.h_username > i{
  margin-left: 6px;
}
.h_userlist{
  position: absolute;
  right: 0;
  top:28px;
  width: 220px;
  box-sizing: border-box;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  height: 0px;
  transition: 0.3s;
  overflow: hidden;
  flex-direction: column;
}
.active_h_userlist{
  height: inherit;
}
.h_userlist > ul{
  list-style: none;
  width: 100%;
}
.h_userlist > ul > li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h_userlist > ul > li > a{
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 6px 10px;
  color: #575757;
  margin: 1px 2px;
  border-radius: 3px;
}
.h_userlist > ul > li > a:hover{
  background-color: #f5f5f5;
}
.h_userlist > ul > li > a > span{

}
.main_header_colum {
  height: 45px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-left: 299px;
}
/***************** main arch ********************/
.sig_main_page{
  display: flex;
  flex-direction: row;
}
.sig_main_page > form{
  display: flex;
  flex-direction: row;
}
.half_page_one{
  flex: 1;
  height: 100vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px;
  box-sizing: border-box;
}
.half_page_two {
  flex: 1.5;
  height: 100vh;
  background-color: #2c343f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 50px;
  box-sizing: border-box;
}
.ho_title{
  font-size: 16px;
  color: #161616;
}

.logincontent {
  position: relative;
  width: 370px;
  height: 381px;
  margin: 0px auto;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  background-color: #FFFFFF;
}
.err_login_fail{
  font-size: 14px;
  text-align: center;
  color: #ab2020;
}
.loginform{
  display: flex;
  flex-direction: column;
  height: inherit;
  max-height: calc(100% + 30px);
  justify-content: space-evenly;
}
.logintitle{
  font-size: 18px;
  color: #161616;
  text-align: center;
}
.loginputcol{
  position: relative;
}
.loginput{
  width: 100%;
  height: 45px;
  border: 1px solid #DBE1E8;
  border-radius: 2px;
  padding-left: 30px;
  box-sizing: border-box;
  outline: none;
}
.loginbut{
  width: 100%;
  height: 45px;
  background-color: #2c343f;
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}
p.respnse_error {
  color: #a90911;
}
.re_f_col{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #737373;
}
.rem_me {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
  user-select: none;
}
.rem_me span {
  margin-left: -10px;
}
.re_chcek {
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  background: #fff;
  border-radius: 3px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.re_chcek img{
  width: 12px;
}
.re_chcek.active {
  background-color: #6A4DFF;
}
.log_bord{
  height: 1px;
  background-color: #F0F0F0;
}
.logintitle.regular{
  font-family: Openregular;
}
.social{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social_but_col {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 47px;
  box-sizing: border-box;
  width: 170px;
  border-radius: 2px;
  justify-content: space-around;
  cursor: pointer;
}
.soc_img img {
  height: 23px;
}

.soc_img {
  width: 33px;
  height: 33px;
  background-color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.fb_soc{
  background-color: #44629D;
}
.g_soc{
  background-color: #4285F4;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.soc_tx {
  color: #fff;
}
a.l_reg_but {
  color: #161616;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.l_f_pass {
  color: #737373;
  text-decoration: none;
  font-size: 12px;
}
.close_modal {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  border-radius: 10px;
  right: 20px;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close_c {
  position: absolute;
  background: #00CACF;
  height: 2px;
  width: 10px;
  top: 4px;
  border-radius: 7px;
}
.cross_col {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  border-radius: 5px;
}
.cross_one {
  transform: rotate(45deg);
}
.cross_two {
  transform: rotate(-45deg);
}
.lo_error_count_col {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  top: 60px;
  border-radius: 3px;
  border: 1px solid rgba(177,177,177,0.14);
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.lo_error_count_col:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  top: -9px;
  left: 52px;
  z-index: 99;
  transform: rotate(45deg);
  border-left: 1px solid rgba(177,177,177,0.14);
  border-top: 1px solid rgba(177,177,177,0.14);
}
.lo_close_error {
  position: absolute;
  right: -5px;
  top: -10px;
  width: 20px;
  height: 20px;
  background: #f1ebeb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 6px rgb(224, 224, 224);
  border: 1px solid rgba(177,177,177,0.14);
  font-size: 12px;
  cursor: pointer;
}
.lo_error_count_col span {
  font-size: 14px;
  color: #d00963;
}
/*************** loading spiner add product ****************************/
.login_loadnig {
  display: flex;
  justify-content: center;
}
.l_loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #6a4dff;
  width: 30px;
  height: 30px;
  -webkit-animation: l_spin 2s linear infinite;
  animation: l_spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes l_spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes l_spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*************** loading spiner add product ****************************/
.login_sucsess {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.cloe_auth_suc {
  display: flex;
  width: 90%;
  background: #6A4DFF;
  height: 45px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}
.log_suv_tx {
  color: #161616;
  font-size: 20px;
  width: 215px;
  text-align: center;
  line-height: 38px;
}


@media (max-width: 400px) {
  .logincontent{
    width: 350px;
  }
}

.main_menu_top{
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border-bottom: 1px solid #5a5a5a;
  box-sizing: border-box;
  flex-direction: row;
  position: relative;

}
.menu_drive{
  font-size: 35px;
  position: absolute;
  right: 0px;
  width: 45px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #2c343f;
}
.menu_drive:hover{
  background: #5a5a5a;
}
.menu_block{
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  height: calc(100vh - 45px);
  overflow-x: scroll;
}
.menu_b_row{
  /*padding: px 0px;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu_b_row > a{
  display: flex;
  flex: 1;
}
.menu_b_row_content{
  padding: 0px 10px 4px 22px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: rgba(255,255,225,0.8);
  flex: 1;
}
.menu_b_row_content_title{
  padding: 11px 5px 3px 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: rgba(255,255,225,0.8);
  flex: 1;
}
.s_e_b_label_name{
  font-size: 12px;
  vertical-align: middle;
  user-select: none;
}
.new_counts{
  background: limegreen;
  color: #161616;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  margin-left: 15px;
}
.table_row_circle{
  width: 20px;
  height: 20px;
  border-radius: 13px;
  display: block;
}
.red_circle{
  background-color: red;
}
.green_circle{
  background-color: green;
}
.menu_b_row_content:hover{
  background: #3f5778;
    transition: 0.2s;
  color: rgba(255,255,225,1)
}
.active_menu_b_row_content{
    background: #3f5778;
    transition: 0.2s;
}
.deposit-buttons{
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}
.deposit-buttons > div{
  cursor: pointer;
  width: 180px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  border-radius: 4px;
  height: 40px;
  align-items: center;
}
.success-button{
  background-color: green;
}
.decline-button{
  background-color: #dc0505;
}
.success-button:hover{
  background-color: #6dff6d;
}
.decline-button:hover{
  background-color: #ee4343;
}
.menu_r_icon{
  font-size: 14px;
  width: 17px;
}
.menu_r_name{
  font-size: 14px;
  margin-left: 12px;

}
.menu_r_name_icon > img{
  width: 15px;
  height: 15px;
}
.menu_r_name_icon{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.menu_cilds{
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
}
.active_menu_cilds{
    height: auto;
    overflow: visible;
    transition: 0.2s;
}
.menu_cild_row{
    padding: 3px 0px 3px 43px;
    cursor: pointer;
    font-size: 14px;
}
.not_row{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 8px 15px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.not_name_arr{
  display: flex;
  flex-direction: row;
  align-items: center;


}
.not_time{
  font-size: 12px;
  color: #aeaeae;
  margin-top: 10px;
  margin-bottom: 3px;
}
.not_arr{
  margin-right: 10px;
}
.not_name{

}
.not_arr > img{
  width: 15px;
  height: 15px;

}
.not_title{
  background-color: #5c80d1!important;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.h_notlist{
  width: 300px;
}
.not_row:hover{
  background-color: whitesmoke;
}
.box_main{

}
.box_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.box_head_title{

}
.box_head_action{
  background: #1d7ef6ed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
  text-transform: uppercase;
}
.box_head_action > a {
  display: flex;
  flex: 1;
  padding: 8px 15px;
}
.box_head_action:hover{
  background: rgba(16, 61, 123, 0.93);
}
.box_head_title > h2{
  color: #424242;
}
.box_body{
  /*margin-top: 30px;*/
}
.body_section{
  padding: 15px;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
    flex: 1;
}
.box_body_row_content{
    display: flex;
    flex-direction: row;
}
.box_body_row_content > .body_section{
    border-left: 1px solid whitesmoke;
}
.box_body_row_content > .body_section:first-child{
    border-left: none;
}
.box_section_name{
  margin-bottom: 15px;
  display: flex;
  /*flex: 1;*/
}
.cont_box_section_name{
  display: flex;
  flex: 1;
}
.section_editable_box{
  display: flex;
  flex-direction: column;
  /*flex: 1;*/
  margin: 10px;
}
.section_editable_box_row{
  display: flex;
  flex-direction: row;
  /*flex: 1;*/
  margin: 10px;
}
.s_e_b_name{
  font-size: 12px;
  color: #161616;
  display: flex;
  flex: 1;
}
.s_e_b_name > span{
  color: red;
  padding-left: 3px;
}
.s_e_b_name > img{
  width: 150px;
  height: 150px;
}
.cont_s_e_b_name{
  font-size: 14px;
  color: #161616;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.cont_or{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #00881d;
  margin-top: -10px;
  margin-bottom: 20px;
}
.cont_s_e_b_name > p{
  margin: 3px 0px;
}
.s_e_b_input{
  display: flex;
  flex: 1;
  margin-top: 5px;
}
.s_e_b_input > input{
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  outline: none;
}
.s_e_b_input > input:focus{
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
}
.s_e_b_input > textarea{
  height: 130px;
  padding:15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  outline: none;
  line-height: 16px;
  resize: none;
}
.s_e_b_input > textarea:focus{
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
}
.section_save{
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 10px;
  justify-content: flex-end;
}
.section_save > button{
  height: 35px;
  width: 140px;
  background: #1d7ef6ed;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
  justify-content: flex-end;
  text-transform: uppercase;
}
.section_save > button:hover{
  background: rgba(16, 61, 123, 0.93);
}
.section_save > span{
  height: 35px;
  width: 140px;
  display: flex;
  background: #1d7ef6ed;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.section_save > span:hover{
  background: rgba(16, 61, 123, 0.93);
}
.menu_bottom_main{
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  padding: 10px 10px;
  text-align: center;
  box-sizing: border-box;
}
.change_pass_qu{
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 10px;
  justify-content: flex-end;
}
.change_pass_qu > span{
  cursor: pointer;
  font-size: 14px;
}
.modal_change_pass{
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
  background: #a5a5a585;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*.active_modal_change_pass{*/
  /*display: flex;*/
/*}*/
.modal_change_main{
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 480px;
  box-sizing: border-box;
}
.modal_change_row{
  width: 400px;
  margin-bottom: 20px;
}
.modal_change_row > div{
  margin-left: 5px;
  color: #5c5c5c;
  font-size: 14px;
  margin-bottom: 5px;
}
.modal_change_row > input{
  width: 100%;
  height: 30px;
  padding: 0px 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #cfcfcf;
}
.modal_change_save{
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_change_save > span{
  height: 35px;
  display: flex;
  width: 140px;
  background: #1d7ef6ed;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal_change_save > span:hover{
  background: rgba(16, 61, 123, 0.93);
}
.change_pass_info{
  color: #4f4f4f;
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
  text-decoration: underline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.addr_names{
  text-decoration: underline;
  margin-right: 10px;
  display: inline-block;
}
.modal_success_msg{
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
  background: #a5a5a585;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal_success_msg_main{
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 480px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.modal_success_msg_main > img{
  display: flex;
  width: 100px;
  height: 100px;
}
.modal_success_msg_main > p {
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
}
.menu_b_row_second{
  padding: 12px 13px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: rgba(255,255,225,0.8);
  flex: 1;
}
.s_e_b_input_ro{
  text-decoration: underline;
}
table {
  width: 100%;
  margin-bottom: 1rem;
  color: #575757;
  background-color: transparent;
  border-collapse: collapse;
}
tbody#main_tbody tr {
  border-bottom: 1px solid #f5f5f5;
  font-size: 14px;
}
tbody#main_tbody>tr {
  cursor: pointer;
  border-bottom: 1px solid #f5f5f5;
  height: 35px;
}
thead {
   background: #343a40;
   color: #ffffff;
}
thead th {
  font-size: 14px;
  text-align: left;
}
.table_num{
  width: 50px;
  text-align: left;
  padding: 17px 8px;
  box-sizing: border-box;
}
tbody#main_tbody td:first-child {
  padding: 0px 8px;
}
.row_delete {
  display: inline-block;
  width: 23px;
  margin-left: 5px;
  padding: 2px;
  box-sizing: border-box;
}
.row_edit{
  display: inline-block;
  width: 23px;
  margin-right: 5px;
  padding: 2px;
  box-sizing: border-box;
}
/*.row_delete:hover ,  .row_edit:hover{*/
  /*-webkit-box-shadow: 0px 0px 6px 2px  rgba(0,0,0,0.16);*/
  /*-moz-box-shadow: 0px 0px 6px 2px  rgba(0,0,0,0.16);*/
  /*box-shadow: 0px 0px 6px 2px  rgba(0,0,0,0.16);*/
/*}*/
.last_field{
  width: 60px;
}
.row_edit > a {
  display: block;
}
.table_row_text{
  color: #5c80d1;
  font-weight: bolder;
}
.self_info_act{
    font-size: 10px;
    border: 1px solid #b5b5b5;
    background: #e6e6e6;
    padding: 1px 6px;
    user-select: none;
}
.user_permissions{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.user_permissions_head{
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 15px;
    font-size: 14px;
    color: #161616;
    text-decoration: underline;
}
.user_permissions_head_item{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.user_permissions_head_item:first-child, .user_permissions_body_item:first-child{
    justify-content: left;
}
.user_permissions_body{
    display: flex;
    flex: 1;
    flex-direction: row;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 10px;
    padding-bottom: 3px;
    font-size: 14px;
}
.user_permissions_body_item{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
}
/*#upload_img{*/
/*  display: none;*/
/*}*/
/*#upload_video{*/
/*  display: none;*/
/*}*/
.s_e_b_input > ul{

}
.s_e_b_input > ul > li{

}
.s_e_b_input > ol{
  margin-left: 25px;
  font-size: 14px;
  cursor: pointer;
}
.s_e_b_input > ol > li{

}
#map_groups{
  display: none;
}
#groups{
  border: 1px solid #c1c1c1;
  padding: 13px;
  box-sizing: border-box;
}
.fl_dir_col{
  flex-direction: column;
}
.add_dis_row {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.add_dis_row_text{
  display: flex;
  font-size: 18px;
}
.add_dis_row_icon{
  font-size: 22px;
  height: 35px;
  width: 35px;
  background: #1d7ef6ed;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 3px;
  outline: none;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  display: flex;
}
.map_group_color{
  /*background-color: red;*/
  width: 70px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
.map_group_inp{
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  outline: none;
  width: 100px;
}
.map_group_item{
  margin: 5px 9px;
  display: inline-block;
}
.section_dates{
  display: flex;
  flex-direction: row;
  margin: 0px;
}
.section_date_item{
  display: flex;
  width: 266px;
}
.map_group_main {
  background: #f2f2f2;
  margin-bottom: 10px;
}



















.forir{
  display: none;
}
.perm_denied{
  color: #c00000;
  font-size: 32px;
  text-align: center;
  margin-top: 100px;
}
