<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <form id="main_form"  method="post" action="/games/mode/add" >
                <div class="content_m_col">
                    <div id="box_main">
                        <div class="box_head">
                            <h2>Adding game modes</h2>
                        </div>
                        <div class="box_body">
                            <div class="body_section">
                                <div class="box_section_name "> Game Mode New Information</div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name"> Name</div>
                                    <div class="s_e_b_input">
                                        <input
                                                type="text"
                                                placeholder=""
                                                name="name"
                                        />
                                    </div>
                                </div>
                                <div class='section_editable_box'>
                                    <div class='s_e_b_name'>Select game</div>
                                    <div class='s_e_b_input'>
                                        <select class='' name="game_id">
                                            <option selected disabled></option>
                                            <% games.forEach(function (game) { %>
                                                <option value='<%=game.id%>'><%=game.name%></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="section_save">
                                    <span class="__section_submit">SAVE</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.__section_submit').click(function () {
            $('#main_form').submit()
        })
    });
</script>

<%- include ../default/footer.ejs %>

