<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="header_m_col">
                <%- include ../default/lang.ejs %>
            </div>
            <form id="main_form" action="/games/add" method="post"  enctype="multipart/form-data">
                <div class="content_m_col">
                    <div id="box_main">
                        <div class="box_head">
                            <h2>Adding games</h2>
                        </div>
                        <div class="box_body">
                            <div class="body_section">
                                <div class="box_section_name ">New Game Information</div>
                                <%  language.forEach(function(langs){ %>
                                    <div class="section_editable_box for<%=langs['lang_code']%> ">
                                        <div class="s_e_b_name"><%=langs['lang_name']%> Name</div>
                                        <div class="s_e_b_input">
                                            <input
                                                    class="__name_<%=langs['id']%>"
                                                    data-id=""
                                                    type="text"
                                                    placeholder=""
                                                    value=""
                                            />
                                        </div>
                                    </div>
                                <% }) %>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Game Image(.png .svg )</div>
                                    <div class="s_e_b_input">
                                        <div class="chose_file _chose_file">Choose image</div>
                                        <div class='foto_block forempty child_ab'>
                                            <img src='/images/content/nophoto.jpg%>' />
                                            <input style="display: none" type="file" name="image" class="img_file ab_img_f img_file " >
                                            <div class='full_foto'></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Choose consoles for this game</div>
                                    <% consoles.forEach(function (console) { %>
                                    <label>
                                        <input type="checkbox" name="consoles[]" value="<%=console.id%>" />
                                        <span class="s_e_b_label_name"><%=console['name']%></span>
                                    </label>
                                    <% }) %>
                                </div>
                                <div class="section_editable_box ">
                                    <label>
                                        <input type="checkbox" name="show_server" value="" />
                                        <span class="s_e_b_label_name">Show Server Field</span>
                                    </label>
                                </div>
<!--                                <div class="section_editable_box">-->
<!--                                    <div class="s_e_b_name">Հեռախոս</div>-->
<!--                                    <div class="s_e_b_input">-->
<!--                                        <input type="text" placeholder="Հեռախոս" name="phone" value="" />-->
<!--                                    </div>-->
<!--                                </div>-->
                                <input type="hidden" name="res_data" id="__res_data" />

                                <div class="section_save">
                                    <span class="__section_submit">SAVE</span>
                                </div>
                                <!--<div class="change_pass_qu"><span class="__change_pass" onclick="openPassModal()">Ցանկանում եք փոփոխել գաղտնաբառը?</span></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.__section_submit').click(function () {
            var resBody = [];
            var languages = JSON.parse('<%- JSON.stringify(language) %>')

            for (let i = 0; i < languages.length; i++) {
                var name = $('.__name_' + languages[i].id).val();
                var obj = {
                    lang_id: languages[i].id,
                    name: name
                }
                resBody.push(obj)
            }
            $('#__res_data').val(JSON.stringify(resBody));
            $('#main_form').submit()
        })
    });
</script>

<%- include ../default/footer.ejs %>

