<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="content_m_col">
                <div id="box_main">
                    <div class="box_head">
                        <div class="box_head_title">
                            <h2>All Games </h2>
                        </div>
                        <div class="box_head_action">
                            <a href="/games/add">
                                Add Game
                            </a>
                        </div>
                    </div>
                    <div class="box_body">
                        <div class="body_section">
                            <table>
                                <thead>
                                <tr>
                                    <th class='table_num'>#</th>
                                    <th class='w_10'>Name</th>
                                    <th class='w_10 last_field'>Action</th>
                                </tr>
                                </thead>
                                <tbody id="main_tbody" data-table=''>
                                <!--<?php-->
                                <!--$numbered = 0;-->

                                <!--if (isset($params['result'])) {-->

                                <!--foreach ($params['result'] as $val) {-->
                                <!--$numbered++-->
                                <!--?>-->
                                <% if(typeof games !== "undefined"){ var num = 1; games.forEach(function(data){ %>
                                <tr id='m_<%=data['id']%>'>
                                    <td>
                                        <span><%=num%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text"><%=data['name']%></span>
                                        <% if(userInfo.id == data['id']){ %>
                                            <span class="self_info_act">ՍԵՓԱԿԱՆ</span>
                                        <%}%>
                                    </td>
                                    <td class="last_field">
                                            <span class="row_edit">
                                                 <a href='/games/update/<%=data['id']%>'>
                                                     <img src="/images/icons/pencil-alt-solid.svg" alt="edit" />
                                                 </a>
                                            </span>
                                        <span class="row_delete action_delete" data-get="games" data-id="<%=data['id']%>">
                                                <img src="/images/icons/trash-alt-solid.svg" alt="delete" />
                                            </span>
                                    </td>
                                </tr>
                                <% num++; }) }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ../default/footer.ejs %>

