<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <form id="main_form"  method="post" action="/games/server/add" >
                <div class="content_m_col">
                    <div id="box_main">
                        <div class="box_head">
                            <h2>Deposit request #<%=data.deposit_id%></h2>
                        </div>

                        <% if(data.type == '1'){  %>
                            <h1>Card2Card</h1>
                        <div class="box_body">
                            <div class="body_section">
                                <div class="box_section_name "><u>User Information</u></div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">First Name : <%=data.firstName%> </div>
                                    <div class="s_e_b_name">Last Name : <%=data.lastName%> </div>
                                    <div class="s_e_b_name">Username : <%=data.username%> </div>
                                    <div class="s_e_b_name">E-Mail : <%=data.email%> (
                                        <%if(data.e_verify == '0'){%>Not Verifyed<%}else{%>Verifyed<%}%>
                                        ) </div>

                                </div>
                            </div>

                            <div class="body_section">
                                <div class="box_section_name "><u>Deposit Information</u></div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Card Number : <%=data.card_number%> </div>
                                    <div class="s_e_b_name">Amount : <%=data.amount%> </div>
                                </div>
                            </div>
                        </div>
                        <% if(data.admin_accept == '0'){ %>
                        <div class="deposit-buttons">
                            <div class="success-button" data-deposit-id="<%=data.deposit_id%>" data-type="<%=data.type%>">Apply</div>
                            <div class="decline-button">Decline</div>
                        </div>
                        <%}else{%>
                            <div class="deposit-buttons">
                                <h3>This deposit request are applied </h3>
                            </div>
                        <%}%>
                        <% } else if(data.type == '2'){%>
                        <h1>Bitcoin</h1>
                        <div class="box_body">
                            <div class="body_section">
                                <div class="box_section_name "><u>User Information</u></div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">First Name : <%=data.firstName%> </div>
                                    <div class="s_e_b_name">Last Name : <%=data.lastName%> </div>
                                    <div class="s_e_b_name">Username : <%=data.username%> </div>
                                    <div class="s_e_b_name">E-Mail : <%=data.email%> (
                                        <%if(data.verify == '0'){%>Not Verifyed<%}else{%>Verifyed<%}%>
                                        ) </div>

                                </div>
                            </div>

                            <div class="body_section">
                                <div class="box_section_name "><u>Deposit Information</u></div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Wallet Address : <%=data.wallet_address%> </div>
                                    <div class="s_e_b_name">Amount : <%=data.amount%> </div>
                                </div>
                            </div>
                        </div>
                        <% if(data.admin_accept == '0'){ %>
                        <div class="deposit-buttons">
                            <div class="success-button" data-deposit-id="<%=data.deposit_id%>" data-type="<%=data.type%>">Apply</div>
                            <div class="decline-button">Decline</div>
                        </div>
                        <%}else{%>
                            <div class="deposit-buttons">
                                <h3>This deposit request are applied </h3>
                            </div>
                        <%}%>
                        <% } else if(data.type == '3' ){%>
                        <h1>Perfect Money</h1>
                        <div class="box_body">
                            <div class="body_section">
                                <div class="box_section_name "><u>User Information</u></div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">First Name : <%=data.firstName%> </div>
                                    <div class="s_e_b_name">Last Name : <%=data.lastName%> </div>
                                    <div class="s_e_b_name">Username : <%=data.username%> </div>
                                    <div class="s_e_b_name">E-Mail : <%=data.email%> (
                                        <%if(data.verify == '0'){%>Not Verifyed<%}else{%>Verifyed<%}%>
                                        ) </div>

                                </div>
                                <!--                                    <div class="section_save">-->
                                <!--                                        <span class="__section_submit">SAVE</span>-->
                                <!--                                    </div>-->
                            </div>
                            <div class="body_section">
                                <div class="box_section_name "><u>Deposit Information</u></div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">E-Voucher : <%=data.e_voucher%> </div>
                                    <div class="s_e_b_name">Activation Code : <%=data.activation_code%> </div>
                                </div>
                            </div>
                            <div class="deposit-buttons">
                                <div class="success-button" data-deposit-id="<%=data.deposit_id%>" data-type="<%=data.type%>">Apply</div>
                                <div class="decline-button">Decline</div>
                            </div>
                        </div>
                        <% }%>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.success-button').click(function () {
            if(!confirm("Do you really want to apply?")){return false;}
            let deposit_id = $(this).attr('data-deposit-id');
            let type = $(this).attr('data-type');
            requestPost('/deposit/apply','deposit_id='+deposit_id+'&type='+type, function () {
                if(this.readyState == 4){
                    var result = JSON.parse(this.responseText);
                    console.log('result',result)
                    if(!result.error){
                        window.location.href = '/deposit/'+type
                    }else{

                    }
                }
            })
        })

        var data = JSON.parse('<%- JSON.stringify(data) %>')
        // console.log('data',data)
        // requestPost('/deposit/set-read','deposit_id='+data.deposit_id+'&type='+data.type, function () {
        //     if(this.readyState == 4){
        //         var result = JSON.parse(this.responseText);
        //         console.log('result',result)
        //         if(!result.error){
        //             window.location.pathName = '/deposit/'+type
        //         }else{
        //
        //         }
        //     }
        // })
    });
</script>

<%- include ../default/footer.ejs %>

