<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="content_m_col">
                <div id="box_main">
                    <div class="box_head">
                        <div class="box_head_title">
                            <h2>All Bitcoin Deposit Requests</h2>
                        </div>
                    </div>
                    <div class="box_body">
                        <div class="body_section">
                            <table>
                                <thead>
                                <tr>
                                    <th class='table_num'>#</th>
                                    <th class='w_10'>Name</th>
                                    <th class='w_10'>Email</th>
                                    <th class='w_10'>Success</th>
                                    <th class='w_10 last_field'>Action</th>
                                </tr>
                                </thead>
                                <tbody id="main_tbody" data-table=''>
                                <!--<?php-->
                                <!--$numbered = 0;-->

                                <!--if (isset($params['result'])) {-->

                                <!--foreach ($params['result'] as $val) {-->
                                <!--$numbered++-->
                                <!--?>-->
                                <% if(typeof deposits !== "undefined"){ var num = 1; deposits.forEach(function(data){ %>
                                <tr id='m_<%=data['deposit_id']%>'>
                                    <td style="<%if(data.admin_check == '0'){%>background: #12ec00; <%}%>">
                                        <span><%=num%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text">Bitcoin</span>
                                    </td>
                                    <td>
                                        <span class="table_row_text"><%=data.user_email%></span>
                                    </td>
                                    <td>
                                        <%if(data.admin_accept === '0'){%>
                                            <span class="table_row_circle red_circle"></span>
                                        <%}else{%>
                                            <span class="table_row_circle green_circle"></span>
                                        <%}%>
                                    </td>
                                    <td class="last_field">
                                        <span class="row_edit">
                                             <a href='/deposit/2/update/<%=data['deposit_id']%>'>
                                                 <img src="/images/icons/pencil-alt-solid.svg" alt="edit" />
                                             </a>
                                        </span>
                                    </td>
                                </tr>
                                <% num++; }) }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ../default/footer.ejs %>

