<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <form id="main_form"  method="post" action="/games/server/add" >
                <div class="content_m_col">
                    <div id="box_main">
                        <div class="box_head">
                            <h2>Withdraw request #<%=data.id%></h2>
                        </div>
                        <div class="box_body">
                            <div class="body_section">
                                <div class="box_section_name "><u>User Information</u></div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">First Name : <%=data.firstName%> </div>
                                    <div class="s_e_b_name">Last Name : <%=data.lastName%> </div>
                                    <div class="s_e_b_name">Username : <%=data.username%> </div>
                                    <div class="s_e_b_name">E-Mail : <%=data.email%> (
                                        <%if(data.e_verify == '0'){%>Not Verifyed<%}else{%>Verifyed<%}%>
                                        ) </div>

                                </div>
                            </div>

                            <div class="body_section">
                                <div class="box_section_name "><u>Withdraw Information</u></div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Bank Name : <%=data.bank_name%> </div>
                                    <div class="s_e_b_name">Bank Account Number : <%=data.bank_account_number%> </div>
                                    <div class="s_e_b_name">Card Number : <%=data.bank_account_number%> </div>
                                    <div class="s_e_b_name">Amount : <%=data.amount%> </div>
                                </div>
                            </div>
                        </div>
                        <% if(data.accept == '0'){ %>
                        <div class="deposit-buttons">
                            <div class="success-button" data-withdraw-id="<%=data.id%>">Apply</div>
                            <div class="decline-button" data-withdraw-id="<%=data.id%>">Decline</div>
                        </div>
                        <%}else if(data.accept == '1'){%>
                            <div class="deposit-buttons">
                                <h3>This withdraw  request are Declined </h3>
                            </div>
                        <%}else{%>
                            <div class="deposit-buttons">
                                <h3>This withdraw  request are applied </h3>
                            </div>
                        <%}%>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.success-button').click(function () {
            if(!confirm("Do you really want to accept?")){return false;}
            let withdraw_id = $(this).attr('data-withdraw-id');
            sendReq(withdraw_id,'2', function (error) {
                window.location.href = '/withdraw';
            })
        });
        $('.decline-button').click(function () {
            if(!confirm("Do you really want to decline?")){return false;}
            let withdraw_id = $(this).attr('data-withdraw-id');
            sendReq(withdraw_id,'1', function (error) {
                window.location.href = '/withdraw';
            })
        })

        function sendReq(withdraw_id,accept,cb) {
            requestPost('/withdraw/update','withdraw_id='+withdraw_id+'&accept='+accept, function () {
                if(this.readyState == 4){
                    var result = JSON.parse(this.responseText);
                    if(!result.error){
                        cb(false)
                    }else{
                        cb(true)
                    }
                }
            })
        }
    });
</script>

<%- include ../default/footer.ejs %>

