<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="content_m_col">
                <div id="box_main">
                    <div class="box_head">
                        <div class="box_head_title">
                            <h2>All Users</h2>
                        </div>
                        <div class="box_head_action">
                            <a href="/faq/add">
                                Add
                            </a>
                        </div>
                    </div>
                    <div class="box_body">
                        <div class="body_section">
                            <table>
                                <thead>
                                <tr>
                                    <th class='table_num'>#</th>
                                    <th class='w_10'>Question</th>
                                </tr>
                                </thead>
                                <tbody id="main_tbody" data-table=''>
                                <% if(typeof faq !== "undefined"){ var num = 1; faq.forEach(function(data){ %>
                                <tr id='m_<%=data['faq_id']%>'>
                                    <td>
                                        <span><%=num%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text"><%=data['question']%></span>
                                    </td>
                                </tr>
                                <% num++; }) }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ../default/footer.ejs %>

