<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="header_m_col">
                <%- include ../default/lang.ejs %>
            </div>
<!--            <form id="main_form" action="/faq/add-item" method="post"  enctype="multipart/form-data">-->
                <div class="content_m_col">
                    <div id="box_main">
                        <div class="box_head">
                            <h2>Adding FAQ</h2>
                        </div>
                        <div class="box_body">
                            <div class="body_section">
                                <div class="box_section_name ">New FAQ Information</div>
                                <%  language.forEach(function(langs){ %>
                                <div class="section_editable_box for<%=langs['lang_code']%> ">
                                    <div class="s_e_b_name"><%=langs['lang_name']%> Question</div>
                                    <div class="s_e_b_input">
                                        <input
                                                class="__question_<%=langs['id']%>"
                                                data-id=""
                                                type="text"
                                                placeholder=""
                                                value=""
                                        />
                                    </div>
                                </div>
                                <div class="section_editable_box for<%=langs['lang_code']%> ">
                                    <div class="s_e_b_name"><%=langs['lang_name']%> Answer</div>
                                    <div class="s_e_b_input">
                                        <input
                                                class="__answer_<%=langs['id']%>"
                                                data-id=""
                                                type="text"
                                                placeholder=""
                                                value=""
                                        />
                                    </div>
                                </div>
                                <% }) %>
                                <input type="hidden" name="data" id="__res_data" />

                                <div class="section_save">
                                    <button class="__section_submit">SAVE</button>
                                </div>
                                <!--<div class="change_pass_qu"><span class="__change_pass" onclick="openPassModal()">Ցանկանում եք փոփոխել գաղտնաբառը?</span></div>-->
                            </div>
                        </div>
                    </div>
                </div>
<!--            </form>-->
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.__section_submit').click(function () {
            var resBody = [];
            var languages = JSON.parse('<%- JSON.stringify(language) %>')

            for (let i = 0; i < languages.length; i++) {
                var question = $('.__question_' + languages[i].id).val();
                var answer = $('.__answer_' + languages[i].id).val();
                var obj = {
                    lang_id: languages[i].id,
                    question: question,
                    answer: answer
                }
                resBody.push(obj)
            }
            //
            // $('#__res_data').val(JSON.stringify(resBody));
            // if($('#__res_data').val().length > 0){
            //     $('#main_form').submit()
            // }
            requestPost('/faq/add-item','res_data='+resBody+'',function () {
                if(this.readyState == '4'){
                    console.log('respText',(JSON.parse(this.responseText)));
                }
            })
        })
    });
</script>

<%- include ../default/footer.ejs %>



