<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="content_m_col">
                <div id="box_main">
                    <div class="box_head">
                        <div class="box_head_title">
                            <h2>All Users</h2>
                        </div>
<!--                        <div class="box_head_action">-->
<!--                            <a href="/games/add">-->
<!--                                Add Game-->
<!--                            </a>-->
<!--                        </div>-->
                    </div>
                    <div class="box_body">
                        <div class="body_section">
                            <table>
                                <thead>
                                <tr>
                                    <th class='table_num'>#</th>
                                    <th class='w_10'>Name</th>
                                    <th class='w_10'>Username</th>
                                    <th class='w_10'>E-mail</th>
                                    <th class='w_10'>Register Date</th>
                                    <th class='w_10 last_field'>Blocked</th>
                                </tr>
                                </thead>
                                <tbody id="main_tbody" data-table=''>
                                <!--<?php-->
                                <!--$numbered = 0;-->

                                <!--if (isset($params['result'])) {-->

                                <!--foreach ($params['result'] as $val) {-->
                                <!--$numbered++-->
                                <!--?>-->
                                <% if(typeof users !== "undefined"){ var num = 1; users.forEach(function(data){ %>
                                <tr id='m_<%=data['id']%>'>
                                    <td>
                                        <span><%=num%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text"><%=data['firstName']%> <%=data['lastName']%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text"><%=data['username']%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text"><%=data['email']%><%=data['e_verify']%></span>
                                    </td>
                                    <td>
                                        <%=data.data.getDate()%>-<% var month = parseInt(data.data.getMonth())+1%><%=month%>-<%=data.data.getFullYear()%>
                                        (<%=data.data.getHours()%>:<%=data.data.getMinutes()%>)
<!--                                        <span class="table_row_text"><%=data['data']%></span>-->
                                    </td>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                </tr>
                                <% num++; }) }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ../default/footer.ejs %>

