<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <div class="content_m_col">
                <div id="box_main">
                    <div class="box_head">
                        <div class="box_head_title">
                            <h2>All Tournaments</h2>
                        </div>
                        <div class="box_head_action">
                            <a href="/tournament/add">
                                Add
                            </a>
                        </div>
                    </div>
                    <div class="box_body">
                        <div class="body_section">
                            <table>
                                <thead>
                                <tr>
                                    <th class='table_num'>#</th>
                                    <th class='w_10'>Name</th>
                                    <th class='w_10'>Game</th>
                                    <th class='w_10'>Entry</th>
                                    <th class='w_10'>Prize 1st</th>
                                    <th class='w_10'>Prize 2nd</th>
                                    <th class='w_10'>Check-In</th>
                                    <th class='w_10'>Start At</th>
                                </tr>
                                </thead>
                                <tbody id="main_tbody" data-table=''>
                                <% if(typeof data !== "undefined"){ var num = 1; data.forEach(function(item){ %>
                                <tr id='m_<%=item['id']%>'>
                                    <td>
                                        <span><%=num%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text"><%=item['name']%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text"><%=item['game_name']%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text"><%=item['entry']%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text"><%=item['prize_1']%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text"><%=item['prize_2']%></span>
                                    </td>
                                    <td>
                                        <span class="table_row_text">
                                            <% var convertStartDate = new Date(item.check_in_datetime) %>
                                            <%=convertStartDate.getDate()%><% var month = parseInt(convertStartDate.getMonth())+1%> - <%=month%> - <%=convertStartDate.getFullYear()%>
                                            <br/>
                                           <%=convertStartDate.getHours()%>:<%=convertStartDate.getMinutes()%>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="table_row_text">
                                            <% var convertCheckInStartDate = new Date(item.start_datetime) %>
                                            <%=convertCheckInStartDate.getDate()%><% var months = parseInt(convertCheckInStartDate.getMonth())+1%> - <%=months%> - <%=convertCheckInStartDate.getFullYear()%>
                                            <br/>
                                            <%=convertCheckInStartDate.getHours()%>:<%=convertCheckInStartDate.getMinutes()%>
                                        </span>
                                    </td>
                                </tr>
                                <% num++; }) }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ../default/footer.ejs %>

