<%- include ../default/header.ejs %>
<div class="big_main_page">
    <%- include ../default/menu.ejs %>
    <div id="big_main_content_page">
        <div class="content_header_m_col">
            <form id="main_form" method="post"   action="/tournament/add" >
                <div class="content_m_col">
                    <div id="box_main">
                        <div class="box_head">
                            <h2>Adding Tournament</h2>
                        </div>
                        <div class="box_body">
                            <div class="body_section">
                                <div class="box_section_name ">New Tournament Information</div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Name</div>
                                    <div class="s_e_b_input">
                                        <input
                                                name="name"
                                                type="text"
                                        />
                                    </div>
                                </div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Console</div>
                                    <div class="s_e_b_input">
                                        <select  name="consoles_id">
                                                <option selected></option>
                                            <% consoles.forEach(function (console) { %>
                                                <option value="<%=console.id%>"><%=console.name%></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Game</div>
                                    <div class="s_e_b_input">
                                        <select id="game_field" name="game_id">
                                                <option selected></option>
                                            <% games.forEach(function (game) { %>
                                                <option value="<%=game.id%>"><%=game.name%></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Mode </div>
                                    <div class="s_e_b_input">
                                        <select id="mode_field" name="game_mode_id"></select>
                                    </div>
                                </div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Entry</div>
                                    <div class="s_e_b_input">
                                        <input
                                                name="entry"
                                                type="number"
                                        />
                                    </div>
                                </div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Prize 1st</div>
                                    <div class="s_e_b_input">
                                        <input
                                                name="prize_1"
                                                type="number"
                                        />
                                    </div>
                                </div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Prize 2nd</div>
                                    <div class="s_e_b_input">
                                        <input
                                                name="prize_2"
                                                type="number"
                                        />
                                    </div>
                                </div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Check In Date and Time</div>
                                    <div class="s_e_b_input">
                                        <label>
                                            <input
                                                    type="datetime-local"
                                                    name="check_in_datetime"
                                            />
                                        </label>
                                    </div>
                                </div>
                                <div class="section_editable_box ">
                                    <div class="s_e_b_name">Start Date and Time</div>
                                    <div class="s_e_b_input">
                                        <label>
                                            <input
                                                    type="datetime-local"
                                                    name="start_datetime"
                                            />
                                        </label>
                                    </div>
                                </div>

                                <div class="section_save">
                                    <button class="__section_submit" for="main_form">SAVE</button>
                                </div>
                                <!--<div class="change_pass_qu"><span class="__change_pass" onclick="openPassModal()">Ցանկանում եք փոփոխել գաղտնաբառը?</span></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#game_field').change(function () {
        var selectedGame = $(this).children("option:selected").val();
        requestPost('/tournament/get-game-modes','game_id='+selectedGame+'',function () {
            if(this.readyState == '4'){
                var result = JSON.parse(this.responseText);
                if(!result.error) {
                    var puchedContent = [];
                    var modeField = $('#mode_field');
                    let modes = result.modes;
                    for(var i = 0; i < modes.length; i++){
                        puchedContent.push(
                            '<option value="'+modes[i].game_mode_id+'">'+modes[i].name+'</option>'
                        )
                    }
                    modeField.html(puchedContent)
                }else{
                    alert('ERROR')
                }
            }
        })
    })
</script>

<%- include ../default/footer.ejs %>



